
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script async>
$(function() {
  console.log("Ready!");
  // Load languages on startup
  google.script.run.withSuccessHandler(modLangSelect).getLangs();
  // Load preferences on startup
  google.script.run.withSuccessHandler(loadPreferences)
  .withFailureHandler(showError).getPreferences();
  // Hide and show additional preferences settings
  $("#selectMail").click(function() {
    if($(this).is(":checked")) {
      $("#mailOpts").show(300);
    } else {
      $("#mailOpts").hide(200);
    } 
  });
  $("#selectForm").click(function() {
    if($(this).is(":checked")) {
      $("#formOpts").show(300);
    } else {
      $("#formOpts").hide(200);
    }
  });
  // Handler for saving the preferences in properties
  $('#save-settings').click(savePreferences);
});

/**
 * Callback function that populates the settings fields with
 * the server stored preference.
 * @param {object} pollPreferences The saved poll preferences.
 */
 function loadPreferences(pollPreferences) {
  if (pollPreferences.selectImm === "true") {
    $('#selectImm').prop('checked', true);
  }
  if (pollPreferences.selectQR === "true") {
    $('#selectQR').prop('checked', true);
  }
  if (pollPreferences.selectMail === "true") {
    $('#selectMail').prop('checked', true);
    $('#mailOpts').show(100);
  }
  $('#mail').val(pollPreferences.mailTo);
  $('#mailLang').val(pollPreferences.mailLanguage);
  if (pollPreferences.selectForm === "true") {
    $('#selectForm').prop('checked', true);
    $('#formOpts').show(100);
  }
  $('#formID').val(pollPreferences.formID);
  $('#formLang').val(pollPreferences.formLanguage);
};

/**
 * Calls a server function to store add-on preferences into document properties
 */
 function savePreferences() {
  // Clean error messages
  $('#error').remove();
  // Disable the button while the server function is being called
  this.disabled = true;
  // Get vars from UI and store them in an object
  var pollPreferences = {
    selectImm: $('#selectImm').is(':checked'),
    selectQR: $('#selectQR').is(':checked'),
    selectMail: $('#selectMail').is(':checked'),
    selectForm: $('#selectForm').is(':checked'),
    mailTo: $('#mail').val(),
    formID: $('#formID').val(),
    mailLanguage: $('#mailLang').val(),
    formLanguage: $('#formLang').val()
  }
  // Define the callback
  google.script.run
  .withSuccessHandler(
    function(msg, element) {
      showSuccess(msg, element);
      element.disabled = false;
    })
  .withFailureHandler(
    function(msg, element) {
      showError(msg, element);
      element.disabled = false;
    })
  .withUserObject(this)
  .savePreferences(pollPreferences);
};

/**
 * Modifies language selector based on data from server
 * @param  {string} languages Array listing supported languages (example: 
 *                            [EN,ES])
*/
function modLangSelect(languages) {
  $.each(languages, function(index, value) {
    $('#mailLang').append($("<option/>", {
      value: value,
      text: value
    }));
    $('#formLang').append($("<option/>", {
      value: value,
      text: value
    }));
  });
} 

/**
 * Inserts a div that contains an error message after a given 
 * element
 * @param {string} msg: The error message to display.
 * @param {object} element: The element after which to display the error.
 */
 function showError(msg, element) {
  var div = $('<div id="error" class="error">' + msg + '</div>');
  $(element).after(div);
};

/**
 * Inserts a div that contains an success message after a given element.
 * @param {string} msg The error message to display.
 * @param {object} The element after which to display the error.
 */
 function showSuccess(msg, element) {
  var div = $('<div id="error" class="success">' + msg + '</div>');
  $(element).after(div);
};
</script>