<link rel="stylesheet" href="https://ssl.gstatic.com/docs/script/css/add-ons1.css">
<!-- The CSS package above applies Google styling to buttons and other elements. -->

<style>
.success {
  padding:8px 0px;
  color:green;
  font-weight: bold;
}

.error {
  padding:8px 0px;
}
</style>

<div class="sidebar">
  <form>
    <div class="block settings">
      <label><input type="checkbox" id="selectImm"><?=ImmOpt?></label>
    </div>
    
    <div class="block settings">
      <label><input type="checkbox" id="selectQR"><?=QROpt?></label>
    </div>

    <div class="block settings">
      <label for="formLang"><?=FormLangOpt?></label><br />
      <select id="formLang"></select><br />
      <label><input type="checkbox" id="selectForm"><?=FormOpt?></label>
      <div class="block form-group" id="formOpts" style="display:none">
        <label for="formId"><?=FormID?></label>
        <input type="text" id="formID" style="width: 180px;">
      </div>
    </div>
    
    <div class="block settings">
      <label><input type="checkbox" id="selectMail"><?=MailOpt?></label>
      <div class="block form-group" id="mailOpts" style="display:none">
        <label for="mail"><?=MailTo?></label>
        <input type="text" id="mail" style="width: 180px;">
        <label for="mailLang"><?=MailLangOpt?></label><br />
        <select id="mailLang"></select>
      </div>
    </div>
    
    <div class="block" id="button-bar">
      <button class="blue" id="save-settings"><?=SaveButton?></button>
    </div>   
  </form>
</div>

<?!= include('Settings.js.html'); ?>