<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script async>
  // On document load, assign click handlers to each button
  $(function() {   
    $('#get-slogans').click(getSlogans);
    $('#create-form').click(createPoll);
  });

  /**
   * Runs a server-side function the get action candidate text from
   * the document selection or document table content.
   */
   function getSlogans() {
    this.disabled = true;
    $('#error').remove();
    google.script.run
    .withSuccessHandler(
      function(slogansText, element) {
        $('#slogans-text').val(slogansText);
        element.disabled = false;
      })
    .withFailureHandler(
      function(msg, element) {
        showError(msg, $('#button-bar'));
        element.disabled = false;
      })
    .withUserObject(this)
    .getSlogans();
  }
  
  /**
   * Runs a server-side function to create a poll with text
   * displayed in the textarea and alternatively send/show
   * mail notification/2QR code.
   */
   function createPoll() {
    this.disabled = true;
    $('#error').remove();
    var slogans = $('#slogans-text').val();
    google.script.run
    .withSuccessHandler(
      function(slogans, element) {
        $('#slogans-text').val(slogans);
        element.disabled = false;
      })
    .withFailureHandler(
      function(msg, element) {
        showError(msg, $('#send-button'));
        element.disabled = false;
      })
    .withUserObject(this)
    .createPoll(slogans);
  }

  /**
   * Inserts a div that contains an error message after a given element.
   *
   * @param {String} msg The error message to display.
   * @param {Object} element The element after which to display the error.
   */
   function showError(msg, element) {
    var div = $('<div id="error" class="error">' + msg + '</div>');
    $(element).after(div);
  }
</script>