<link rel="stylesheet" href="https://ssl.gstatic.com/docs/script/css/add-ons1.css">
<!-- The CSS package above applies Google styling to buttons and other elements. -->

<style>
.width-100 {
  width: 100%;
}

.button {
  padding: 0 8px;
}
</style>

<div class="sidebar">
  <form>
    <div class="block form-group">
      <label for="slogans-text"><b><?=PollWindow?></b></label>
      <textarea class="width-100" id="slogans-text" rows="10"></textarea>
    </div>

    <div class="block" id="button-bar">
      <button id="get-slogans"><?=GetSlogans?></button>
      <button class="blue" id="create-form"><?=CreatePoll?></button>
    </div>
  </form>
</div>

<?!= include('Sidebar.js.html'); ?>